.image1{
    position: absolute;
  width: 654px;
  height: 758px;
  }
  .image2{
    position: absolute;
  width: 654px;
  height: 758px;
  }
  .image3{
    position: absolute;
  width: 654px;
  height: 758px;
  }
  .image4{
    position: absolute;
  width: 654px;
  height: 758px;
  }
  .image5{
    position: absolute;

  height: 758px;
  }
  .image6{
  
  position: absolute;
  width: 654px;
  height: 758px;
  }
  .image7{
    position: absolute;
    width: 654px;
    height: 758px;
  }
  .image8{
    position: absolute;
  width: 654px;
  height: 758px;
  }
